<div class="mt-4">
    <h3 style="text-align: center;">HỒ SƠ BỆNH ÁN</h3>
    <form method="POST" action="/medicalRecord/storeMedicalRecord">
    <div class="form-group m-4">
        <label for="namePatient">Họ và tên</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="namePatient" placeholder="Nhập họ và tên bệnh nhân">
        <legend class="col-form-label col-sm-2 pt-0">Giới tính</legend>
        <div class="col-sm-10">
            <div class="form-check m-4">
            <input class="form-check-input" type="radio" name="sex" id="gridRadios1" value="male" checked>
            <label class="form-check-label" for="gridRadios1">
            Nam
            </label>
            </div>
            <div class="form-check m-4">
            <input class="form-check-input" type="radio" name="sex" id="gridRadios2" value="female">
            <label class="form-check-label" for="gridRadios2">
                Nữ
            </label>
        </div>
        <label for="bithDay">Ngày sinh</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="birthDay" placeholder="Nhập ngày sinh">
        <label for="address">Địa chỉ</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="address" placeholder="Nhập địa chỉ">
        <label for="phone">Số điện thoại</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="phone" placeholder="Nhập số điện thoại">
        

        <label for="diagnose">Chuẩn đoán</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="diagnose" rows="4"></textarea>

        <label for="prescription">Đơn thuốc</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="prescription" rows="3"></textarea>

        <label for="note">Ghi Chú</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="note" rows="2"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary" style="margin-top: 10px;" >Tạo hồ sơ</button>
    </form>
</div>