<nav
  class='navbar navbar-expand-lg navbar-light'
  style='background-color: #77a7dd'
>
  <div class='container'>
    <a class='navbar-brand' href='#'>
      <img
        src='https://image.lag.vn/upload/news/21/08/16/236599595_1425452954506376_3110056547255537769_n_WOLP.jpg'
        width='30'
        height='30'
        class='d-inline-block align-top'
        alt=''
      />
      Online Clinic
    </a>
    <button
      class='navbar-toggler'
      type='button'
      data-toggle='collapse'
      data-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav mr-auto'>
        <li class='nav-item active'>
          <a class='nav-link' href='/'>Home
            <span class='sr-only'>(current)</span></a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/accounts/'>Bác Sĩ</a>
        </li>
      </ul>
      <ul class='navbar-nav ml-auto'>
        <form class='form-inline my-2 my-lg-0' action='' method='POST'>
          <input
            class='form-control mr-sm-2'
            name='q'
            type='search'
            placeholder='Search'
            aria-label='Search'
          />
          <button
            class='btn btn-outline-success my-2 my-sm-0'
            type='submit'
          >Search</button>
        </form>
        <li class='nav-item dropdown'>
          <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            <img src='https://image.lag.vn/upload/news/21/08/16/236599595_1425452954506376_3110056547255537769_n_WOLP.jpg' alt='' class='user-avatar' />
            Thành Luân
          </a>
          <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
            <a class='dropdown-item' href='/accounts/create'>Thêm Bác Sĩ</a>
            <div class='dropdown-divider'></div>
            <a class='dropdown-item' href='/me/stored/accounts'>Quản Lý Thông Tin
              Bác Sỹ</a>
            <div class='dropdown-divider'></div>
            <a class='dropdown-item' href='/accountPatient/login'>Login</a>
            <div class='dropdown-divider'></div>
            <a class='dropdown-item' href='/medicalRecord/create'>Hồ sơ bệnh án</a>
            <a class='dropdown-item' href='/me/stored/medical-record'>Quản Lý Hồ Sơ Bệnh Án</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>