<div class="mt-4">
    <h3 style="text-align: center;">HỒ SƠ BỆNH ÁN</h3>
    <form>
    <div class="form-group">
        <label for="fullname">Họ và tên</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="fullname" placeholder="Nhập họ và tên bệnh nhân">
        <label for="fullname">Họ và tên</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="fullname" placeholder="Nhập họ và tên bệnh nhân">
        <label for="fullname">Họ và tên</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="fullname" placeholder="Nhập họ và tên bệnh nhân">
        <label for="fullname">Họ và tên</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="fullname" placeholder="Nhập họ và tên bệnh nhân">
        <label for="fullname">Họ và tên</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="fullname" placeholder="Nhập họ và tên bệnh nhân">
        <label for="fullname">Họ và tên</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="fullname" placeholder="Nhập họ và tên bệnh nhân">
        <label for="fullname">Họ và tên</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="fullname" placeholder="Nhập họ và tên bệnh nhân">

    </div>
    
    <button type="submit" class="btn btn-primary">Tạo hồ sơ</button>
    </form>
</div>